[Unit]
Description=Valheim game server
Documentation=https://github.com/fooock/valheim-server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ steam_user }}
Group={{ steam_user }}
EnvironmentFile={{ game_dir }}/values.env
WorkingDirectory={{ game_dir }}

ExecStartPre={{ steam_cmd_dir }}/steamcmd.sh +login anonymous +force_install_dir {{ game_dir }} +app_update {{ game_id }} validate +exit
ExecStart={{ game_dir }}/my-start.sh
CapabilityBoundingSet=CAP_SYS_NICE
AmbientCapabilities=CAP_SYS_NICE

KillSignal=SIGINT
ExecReload=/bin/kill -s HUP $MAINPID
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
